<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title="Student API"
    body
        table
            tr
                th="Name"
                th="Courses"
            each student in students
                tr
                    th=student.name
                    th
                        ul
                            each course in student.courses
                                li=course